body{
    background-color: crimson
}

nav a{
    color: gold;
}

#current-link3{
    color: gold;
    text-decoration: none;
}

h1{
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: gold;
}