body{
    background-color:crimson
}

nav a{
    color: gold;
}

#current-link {
    text-decoration: none;
}

#current-link2{
    color: gold;
    text-decoration: none;
}

.uppercase{
text-transform: uppercase;
font-size:40px;
}

img{
    width: 400px;
    height: auto;
}

h1{
   border-bottom-style: solid;
   border-bottom-width: 5px;
   border-bottom-color: gold;
}

button {
  border: 0;
  background-color: gold;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}
button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}