body{
    background-color: crimson
}


#current-link{
    color: gold;
   
}

#current-link2{
    color: gold;
    text-decoration: none;
}

#current-link3{
    color: gold;
}

h1{
   border-bottom-style: solid;
   border-bottom-width: 5px;
   border-bottom-color: gold;
}
